* {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    background-color: hsl(217, 54%, 11%);
    min-height: 100vh;
}
.main {
    display: flex;
    flex-direction: column;
    background-color:  hsl(216, 50%, 16%);
    height: 370px;
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    margin: 30px;
}
.img > img {
    height: 200px;
    width: 200px;
    border-radius: 5px;
    margin: 0px;
}
.img > img:hover {
    height: 200px;
    width: 200px;
    border-radius: 5px;
    margin: 0px;
    opacity: 0.3;
}
.img:hover {
    background-color: aqua;
    z-index: 2;
    opacity: 1;
}
hr {
    color: hsl(215, 32%, 27%);
    margin-top: 5px;
}
.headnName {
    color: #fff;
    margin: 5px;
}
.headtoName:hover {
    color: hsl(178, 100%, 50%);
}
.name {
    color: #fff;
}
.profile {
    display: flex;
    flex-direction: row;
    padding: 5px;
    padding-top: 10px;
}
#pssge {
    margin: 10px;
}
#name {
    font-size: 13px;
    margin-top: 12px;
}
.text {
    color: hsl(215, 51%, 70%);
}
svg {
    position: relative;
    margin-right: 5px;
    padding-bottom: -20px;
}
#eth {
    display: inline-block;
    color: hsl(178, 100%, 50%);
}
#days {
    display: inline-block;
    margin-left: 10px;
}
.profile > img {
    display: inline-block;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }